.app{
    background-color: #f3f2ef;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app__body{
    display: flex;
    padding-top: 20px;
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .app__body{
        flex-direction: column;
    }
}